language: python
sudo: false

matrix:
  include:
    - python: "2.7"
      env: DEPS="numpy=1.9 scipy=0.15 astropy=1.0" COVERAGE=true
    - python: "3.4"
      env: DEPS="numpy=1.9 scipy=0.15 astropy=1.0"

cache:
  apt: true
  pip: true
  directories:
    - $HOME/.cache/pip
    - $HOME/.local

before_install:
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then wget http://repo.continuum.io/miniconda/Miniconda-3.5.5-Linux-x86_64.sh -O miniconda.sh; else wget http://repo.continuum.io/miniconda/Miniconda3-3.5.5-Linux-x86_64.sh -O miniconda.sh; fi
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/mc
  - export PATH=/home/travis/mc/bin:$PATH


install:
  # See:
  # https://groups.google.com/a/continuum.io/forum/#!topic/conda/RSFENqovnro
  # - conda update --yes --no-deps conda
  # OK, this used to *fix* the build, but now it *breaks* the build.
  # If you're reading this, good luck out there. I'm not sure what to tell you.
  - conda update --yes conda
  - conda create -n testenv --yes --file requirements.txt
  - source activate testenv
  - pip install pytest-benchmark pytest-cov
  - pip install setuptools
  - pip install -e git+git://github.com/guaix-ucm/numina.git#egg=numina
  - if [[ $COVERAGE == true ]]; then pip install coveralls; fi
  # Build in place so we can run tests
  - python setup.py build_ext --inplace


script:
  - py.test -s -v megaradrp
  - if [[ $COVERAGE == true ]]; then py.test megaradrp --cov=megaradrp; fi

after_success:
  - if [[ $COVERAGE == true ]]; then coveralls; fi